img{
    max-width: 150px;
    max-height: 150px;
    width: auto;
    height: auto;
}

.bg-body-tertiary{
    background-color: black !important;
}

.nav-link {
    color: aliceblue !important;
}

.navbar-toggler {
    border-radius: 10px;
    border-color: aliceblue;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='aliceblue' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.bloco {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: rgb(204, 205, 206);
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    margin-left: 400px;
    margin-right: 800px;
    padding-left: 100px;
    padding-bottom: 10px;
}


