<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>João Pessoa</title>

</head>
<body>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Gerente</th>
            <th scope="col">Setor</th>
            <th scope="col">Ramal</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Mark</td>
            <td>Eletro</td>
            <td>6879</td>
          </tr>
          <tr>
            <td>Jacob</td>
            <td>Pisos</td>
            <td>6543</td>
          </tr>
          <tr>
            <td>Augusto</td>
            <td>Acessórios WC</td>
            <td>9075</td>
          </tr>
        </tbody>
    </table>
</body>
</html>